@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
    --color-primary: #AFAFAF;
    --color-secondary: #F0B100;
    --font-heading: 'Montserrat', sans-serif;
}

@layer utilities {
    .smooth-transition {
        @apply transition-all duration-300;
    }
    .absolute-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }
    .flex-center {
        @apply flex justify-center items-center;
    }
}